*{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    color: #070707;
}

body{
    background: #FFFFFF;
    margin: 0;
    width: 100%;
}
    

ul{
 list-style: none;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 font-size: 18px;
 padding-bottom: 54px;
 text-decoration: none;

}    
header li{
    cursor: pointer;
    color: #828282;
    text-decoration: none;
    font-weight: 300;
}
header a{
    text-decoration: none;
}
header li:hover{
    color: black;
}
.header-home{
    padding-left: 296px;
}
.header-contacts{
    padding-right: 200px;
}
hr{
    width: 960px;
    color: #828282;
}

.container .name{
    font-size: 47.34px;
    padding-left: 300px;
}
.container .info{
padding-top: 125px;
}
.container .lang span {
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    
}
.container .lang{
    padding-top: 93px;
    writing-mode: vertical-rl;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
   
}
.container a{
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-right: 200px;
   
}
.photo .photo-background{
    position: absolute;
    width: 937.6px;
    height: 400px;
    left: 270.71px;
    top: 400px;
    background: #090909;
}
.photo .photo-img{
    position: absolute;
    width: 490px;
    height: 470px;
    left: 434px;
    top: 500px;

}
#aboutMe{
    position: absolute;
    width: 100%;
    height: 627.51px;
    top: 1019px;
    background: #F6F6F6;
}
.aboutMe-h{
    
    margin-top: 162px;
}

.aboutMe-par{
    font-size: 18px;
    color: #070707;
    line-height: 24px;

    width: 485.34px;
    height: 270.35px;
    margin-left: 500px;
    margin-top: 39px;
    margin-bottom: 160px;
}

#skills{
    position: absolute;
    width: 100%;
    top: 1647px;
    
}

.skills-h{
    margin-top: 162px;
    margin-bottom: 82px;
    
}
.skills-par{
    text-align: center;
    margin-bottom: 106px;
    font-size: 18px;
}
.skills-list .list{
    display: grid;
    grid-template-columns: auto 133px 77px;
}
.skills-list-more{
    font-size: 18px;
    text-align: center;
    margin-bottom: 47px;
}
.nav{
    font-size: 34px;
    text-align: center;
    
}

#skills .list-more{
    margin-bottom: 68px;
    display: grid;
    grid-template-columns: 108px 108px auto 135px;
}
#skills .list-more-two{
    margin-bottom: 68px;
    display: grid;
    grid-template-columns: 108px 108px 133px;
}
#skills img {
    width: 60px;
}
#skills .figma {
    width: 45px;
}
#skills .htmlCss{
    width: 90px;
}
#skills .sql{
    width: 110px;
}
#skills .cplus{
    width: 50px;
}


#portfolio{
    position: absolute;
    width: 100%;
    height: 6040px;
    top: 2802px;

    background: #F6F6F6;
}
.portfolio-h{
    margin-top: 89px;
    margin-bottom: 82px;
}
#portfolio .portfolio-item p{
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: #828282;
}
#portfolio img {
    width: 45%;
    margin-left: 28%;
}
#btn{
    cursor: pointer;
    text-decoration: none;
    margin-left: 47%;
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 25px;
    border: none;
    border-radius: 20px;
    background-color: white;
    font-weight: 300;
    background-color: #070707;
    color: #FFFFFF;
    
}
#btn:hover{
    background-color: white;
    color: #070707;
}

#portfolio .portfolio-item {

}

#contacts{
    position: absolute;
    width: 100%;
    height: 848px;
    top: 8842px;
    background: #FFFFFF;
}
.contacts-h{
    margin-top: 124px;
    margin-bottom: 92px;
}
.contacts-par{
    text-align: center;
    font-size: 18px;

}
#contacts button{
    margin-top: 72px;
    margin-bottom: 102px;
    font-size: 18px;
}

.author{
    font-size: 16px;
    margin-bottom: 128px;
    text-align: center;
}

#contacts-svg {
    display: grid;
    grid-template-columns:  42px 42px 42px;
    column-gap: 82px;
    margin-left: 42%;
    margin-bottom: 78px;
    cursor: pointer;
}

@media all and (max-width: 850px){
    *{
        font-size: 14px;
    }
    hr{
        width: 45%;
    }
    .photo .photo-background{
        width: 230px;
        height: 506px;
        left: 196px;
    }
    .photo .photo-img{
        position: absolute;
        width: 278px;
        height: 266px;
        left:350px;
    }
    .container .name{
        font-size: 30px;
    }
    header{
        margin-top: 60px;
    }
    header .header-home{
        padding-left: 50px;
    }
    .aboutMe-par{
        margin-left: 130px;
    }
    #portfolio{
        height: auto;
        margin-bottom: 70px;
    }
    #portfolio button{
        margin-left: 39%;
    }
    
    #contacts{
        position: absolute;
        width: 100%;
        height: 848px;
        top: 6992px;
        background: #FFFFFF;
    }
    .contacts-h{
        margin-top: 70px;
        margin-bottom: 92px;
    }
    
    #contacts button{
        margin-top: 72px;
        margin-bottom: 102px;
        font-size: 18px;
        width: 40%;
        margin-left: 250px;
    }
    #contacts-svg {
        margin-left: 32%;
    }

}

@media all and (max-width: 500px){
    *{
        font-size: 14px;
    }
    hr{
        width: 65%;
    }
    header {
        margin-top: 45px;
        
        
    }
    header li{
        margin-left: 10px;
        font-size: 14px;
    }
    .photo .photo-background{
        margin-top: 20px;
        width: 230px;
        height: 506px;
        left: 50px;
    }
    .photo .photo-img{
        position: absolute;
        width: 278px;
        height: 266px;
        left: 100px;
    }
    .container .name{
        font-size: 27px;
    }
    header .header-home{
        padding-left: 0px;

    }
    .header-contacts{
        padding-right: 0px;
    }
    #aboutMe{
        height: auto;
        margin-bottom: 45px;
    }
    .aboutMe-par{
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        
    }
    #portfolio{
        height: auto;
        margin-bottom: 70px;
    }
    
    #contacts{
        top: 5292px;
        height: auto;
    }
    .contacts-h{
        margin-top: 10px;
        margin-bottom: 92px;
    }
    .contacts-par{
        margin-left: 15%;
        margin-right: 15%;
    }
    
    #contacts button{
        margin-top: 72px;
        margin-bottom: 102px;
        font-size: 18px;
        width: 45%;
        margin-left: 120px;
    }
    #contacts-svg {
        margin-left: 15%;
        margin-right: 15%;
    }
    #portfolio button {
        margin-left: 25%;
        padding: 15px;
    }
    #aboutMe-par{
        margin-right: 10px;

    }
    .uni{
        display: none;
    }
    #portfolio{
        top: 2302px;
    }
    .author{
        margin-left: 10%;
        margin-right: 10%;
    }
    .skills-list-more{
        margin-left: 10%;
        margin-right: 10%;
    }
}